.headline{
    color: red;
}
.cool {
    background-color: #6cc0ac;
    color: #fff;
    text-shadow: 2px 2px 1px #3b6a5e;
    border-top: 1px solid #7ee0c9;
    border-bottom: 1px solid #3b6a5e;}

.seasonal{
background-image: url('../Practice-js/images/icon-calendar.png');
    background-position: center left ;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.favorite{
    background-image: url('../Practice-js/images/icon-heart.png');
    background-position: center right;
    background-repeat: no-repeat;
}
li {
    background-color: #ec8b68;
    color: #fff;
    border-top: 1px solid #fe9772;
    border-bottom: 1px solid #9f593f;
    font-size: 24px;
    letter-spacing: .05em;
    list-style-type: none;
    text-shadow: 2px 2px 1px #9f593f;
    text-align: left;
    height: 50px;
    padding-left: 1em;
    padding-top: 10px;
}

.red{
    background-color: darkred;
}